.page {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    padding: 0 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #606f81;
}

.btn {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
}

.btn:hover {
    opacity: 0.8;
}

.btn--primary {
    background-color: #ffc74a;
    color: #b98000;
}

.btn--secondary {
    box-shadow: 0 0 54px rgba(141, 148, 169, 0.25);
    background-color: #fff;
    color: #bdc8d9;
}

.btn--secondary:hover {
    background-color: #ffc74a;
    color: #b98000;
}

.search-icon {
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.hidden {
    display: none
}

/* header */
.header {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('../img/header_bg.png') 0 center no-repeat;
    background-size: cover;
    height: 100vh;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.header__logo {
    
}

.header__logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__logo-photo {

}

.header__brand-name {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding-left: 20px;
}
/* header__menu */
.header__menu {
    display: flex;
}

.header__menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.header__menu-item {
    display: inline-block;
    padding: 0 10px;
}

.header__menu-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
}

.header__menu-link:hover {
    color: #bdbfc0;
}

/* header__intro */
.header__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 90px 0 275px 0;
}
.header__intro-title {
    display: flex;
    flex-direction: column;
    font-size: 92px;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
}

.header__intro-title--white {
    color: #ffffff;
}

.header__intro-title--red {
    color: #ed6950;
}

.header__intro-desc {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.2;
    line-height: 1em;
    margin: 30px 0 50px 0;
}
/* content */
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* popular-places */
.popular-places {
    position: absolute;
    top: calc(-216px - 18px - 46px - 18px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.popular-places__caption {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 46px;
}

.popular-places__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.popular-places__place {
    position: relative;
    width: 370px;
    height: 432px;
}

.popular-places__place-image {
    width: 100%;
    height: 100%;
}

.popular-places__place-info-wrapper {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%); 
    margin-bottom: 42px;
}

.popular-places__place-title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0;
}

.popular-places__place-title--active {
    opacity: 0.9;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
}

.popular-places__place-desc {
    color: #ffc74a;
    font-size: 14px;
    font-weight: 400;
}

.popular-places__place-desc--active {
    color: #ffffff;
    margin-bottom: 70px
}
/* search-places */
.search-places {
    display: flex;
    flex-direction: column;
    padding-top: calc(220px + 60px);
    /* width: 100%; */
    text-align: center;
}

.search-places__title {
    color: #606f81;
    font-size: 30px;
    font-weight: 700;
}

.search-places__search-container {
    width: 70%;
    align-self: center;
    margin-bottom: 30px;
}

.search-places__search {
    position: relative;
    margin-bottom: 20px;
}

.search-places__search-input {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 85px rgba(141, 148, 169, 0.15);
    background-color: #ffffff;
    border-radius: 30px;
    border: none;
    opacity: 0.6;
    color: #606f81;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 30px;
}

.search-places__search-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-30px, 20px);
    border: none;
    background-color: transparent;
}

.search-places__filters-container {
    display: flex;
    justify-content: space-between;
}

.search-places__filter {
    border: none;
    background-color: transparent;
    border-radius: 30px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 700;
}

.search-places__filters-left {
    
}

.search-places__filter-left {
    background-color: #bdc8d9;
    color: #ffffff;
}

.search-places__filter-left--active {
    background-color: #ffc74a;
}

.search-places__most-popular {
    
}

.search-places__most-popular-place {
    color: #8d97a5;
    border: 1px solid #bdc8d9;
}

.search-places__results {
    
}

.search-places__results-wrapper {
    display: flex;
}

.search-places__result {
    box-shadow: 0 0 85px rgba(141, 148, 169, 0.15);
    background-color: #ffffff;
    margin: 30px;
    padding: 10px;
}

.search-places__result-photo {
    width: 350px;
    height: 170px;
    border-radius: 8px;
}

.search-places__result-info-wrapper {
    margin: 30px 0;
}

.search-places__result-title {
    color: #606f81;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0;
}

.search-places__result-desc {
    opacity: 0.6;
    color: #606f81;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 28px;
}
/* explore */
.explore {
    box-sizing: border-box;
    position: relative;
    background-color: rgba(189, 200, 217, 0.1);
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore__bg {
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;
    text-align: right;
}

.explore_bg-text {
    text-transform: uppercase;
    text-shadow: 0 0 125px rgba(141, 148, 169, 0.25);
    color: #fff;
    font-size: 355px;
    line-height: 268px;
    font-weight: 700;
}

.explore__title {
    color: #606f81;
    font-size: 30px;
    font-weight: 700;
    margin: 70px 0;
}

.explore__wrapper {
    display: flex;
    max-width: 1170px;
    /* align-items: center; */
    
}

.explore__container {
    position: relative;
}

.explore__city-name {
    color: #f8c759;
    font-size: 36px;
    font-weight: 700;
}

.explore__about-city {
    color: #606f81;
    font-size: 14px;
    font-weight: 400;
    line-height: 2em;
    margin: 30px 0;
}

.explore__city-photo {

}

.explore__city-photo-border {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 595px;
    height: 577px;
    border: 15px solid #ffc74a;
    background-color: transparent;
    z-index: -1;
}
/* enjoy-journey */
.enjoy-journey {
    background: url("/img/enjoy-journey_bg.png") 0 center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 640px;
}

.enjoy-journey__title {
    color: #ffffff;
    font-size: 92px;
    font-weight: 700;
    margin: 30px;
}

.enjoy-journey__newsletter-info {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 48px;
}

.enjoy-journey__newsletter-link {
    color: #ffc74a;
}

/* footer */
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0;
}

.footer__title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.55;
    text-shadow: 0 0 125px rgba(141, 148, 169, 0.25);
    color: #fff;
    font-size: 305px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0;
    z-index: -1;
}

.footer__logo {

}

.footer__desc {
    color: #606f81;
    font-size: 24px;
    font-weight: 700;
}

.footer__link {
    text-decoration: none; 
    color: #ffc74a;
}
